/*? News Page CSS  */
.tb_nc_author .tb_nc_author_profile {
    display: none;
}

.tb_post_modal_author_details .tb_post_modal_author_media {
    display: none;
}

#myNav {
    position: relative;
    z-index: 9999;
}

/* See More Button */
.tb_see_more_btn_wrap .tb_see_more_btn {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.tb_see_more_btn:hover {
    background-color: black;
    color: white;
}

nav {
    border-bottom: 1px solid black;
}

footer {
    border-top: 1px solid black;
}